.classpath
.project

/nbproject/private/
/nbbuild/
/dist/
/nbdist/


.DS_Store
/saves/
# Gradle rác (Thủ phạm gây bảng thông báo lúc nãy)
.gradle/
build/
core/build/
lwgl3/build/
*.bin
*.lock

# IntelliJ IDEA (File cấu hình cá nhân của máy bạn)
.idea/
*.iml
out/
gen/
# File log của hệ thống
*.log
